[submodule "api"]
	path = api
	url = https://github.com/DutchStudentHousing/api-reactive.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/DutchStudentHousing/Frontend-draft.git
	branch = feature-dockerize
